$padding-container: 16px;

$padding-list-item: 20px;

$padding-dialog-content-left: 24px;
$padding-dialog-content-right: 24px;
$padding-dialog-content-top: 20px;
$padding-dialog-content-bottom: 20px;
