.circle-radio {
	$root: &;
	display: inline-block;
	position: relative;
	margin: 4px;
	user-select: none;
	cursor: pointer;

	&__circle {
		@extend .icon-circle;

		#{$root}:hover &,
		#{$root}:focus &,
		#{$root}:focus-within & {
			box-shadow: $box-shadow-md;
		}
	}


	&__icon {
		color: $c-gray-600;
		font-size: $font-size-lg;
	}

	[type=radio] {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked + #{$root}__circle {
			background-color: $c-gray-400;
			box-shadow: 0 0 0 4px #FFF, 0 2px 8px 4px rgba(0, 0, 0, 0.16);

			#{$root}__icon {
				color: #FFF;
			}
		}
	}

}