.board {
	$root: &;
	border-radius: $border-radius-lg;
	background-color: $c-bright;
	// box-shadow: $box-shadow-sm;

	&__body {
		padding: 24px;

		@include media-breakpoint-down(md) {
			padding: 24px 16px;
		}
	}

	@include media-breakpoint-down(md) {
		margin-left: -#{$padding-container};
		margin-right: -#{$padding-container};
		border-radius: 0;
	}

	.mdc-list {
		padding: 0;
	}
	.mdc-list-item {
		height: auto;
		border-bottom: 1px solid $c-gray-50;

		&:first-child {
			border-top-left-radius: $border-radius-lg;
			border-top-right-radius: $border-radius-lg;
		}

		&:last-child {
			border-bottom: 0;
			border-bottom-left-radius: $border-radius-lg;
			border-bottom-right-radius: $border-radius-lg;
		}
	}
}
