.settings {
	$setting-avatar-width: 120px;

	&__profile-header {
		padding: 24px 24px 0;
		background-color: $c-primary-ligther;
		background-image: url('/static/images/placeholder-profile-header.png');
		background-size: cover;
		background-position: bottom;
		border-radius: $border-radius-lg $border-radius-lg 0 0;

		@include media-breakpoint-down(md) {
			background-color: $c-background;
		}
	}

	&__profile-avatar {
		width: $setting-avatar-width;
		height: $setting-avatar-width;
		margin: 0 auto;
		z-index: 1;
		border-radius: 50%;
		box-shadow: $box-shadow-md;
		transition: box-shadow .3s;
		background-color: $c-bright;

		&:hover {
			box-shadow: $box-shadow-lg;
		}

		.image-file-input__camera-lower-right {
			right: 4px;
			bottom: 4px;
		}
	}

	&__board {
		margin-bottom: 24px;

		&:first-child {
			@include media-breakpoint-down(lg) {
				margin-top: 24px;
			}
		}
	}
}
