@use "node_modules/@material/select";
@use "node_modules/@material/select/mdc-select";

.mdc-select {
	@include select.container-fill-color($c-gray-40);
	@include select.bottom-line-color($c-gray-200);
	@include select.hover-bottom-line-color($c-primary);
	@include select.label-color($c-gray-600);
	@include select.focused-label-color($c-primary-dark);

	&--fullwidth {
		width: 100%;
	}
}

// 修正 Ripple 顏色
.mdc-select--filled:hover .mdc-select__ripple::before {
	opacity: $opacity-ripple-text-field-hover;
}

.mdc-select--filled .mdc-ripple-upgraded--background-focused .mdc-select__ripple::before, .mdc-select--filled:not(.mdc-ripple-upgraded):focus .mdc-select__ripple::before {
	opacity: $opacity-ripple-text-field-focus;
}

.mdc-select--filled:active .mdc-select__ripple::before {
	opacity: $opacity-ripple-text-field-active;
}
